.left {
  position: absolute;
  background-color: transparent;
  border: none;
  display: flex;
  width: 7rem;
  height: 7rem;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  pointer-events: auto;
  margin-top: 20rem;
  fill: white;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.right {
  position: absolute;
  background-color: transparent;
  border: none;
  display: flex;
  width: 7rem;
  height: 7rem;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  pointer-events: auto;
  fill: white;
  margin-top: 20rem;
  right: 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (max-width: 768px) {
  .ContentWithRightSide {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .img-container {
    width: 100%;
  }
  .ContentWithRightSide {
    padding-right: 0;
  }
  .ContentWithRightSide_inner {
    padding-top: 3rem;
    justify-content: center;
    align-items: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .left {
    width: 5rem;
    height: 5rem;
    margin-top: 10rem;
  }

  .right {
    width: 5rem;
    height: 5rem;
    margin-top: 10rem;
  }
}
